.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 48px;
  font-family: "JejuHallasan", sans-serif;
  background-color: #514332;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(166, 128, 67, 0.889);
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.title {
  text-align: left;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 12px;
}

.textBlock {
  text-align: left;
  line-height: 1.6;
  margin: 20px 0;
  font-size: 1rem;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.backLink {
  text-decoration: none;
  background-color: #a17a4e;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.backLink:hover { background-color: #8d7558; transform: translateY(-2px); }
.backLink:active { background-color: #2a2a2a; transform: translateY(0); }

.quizButton {
  margin: 0 auto;
  background-color: #d97706;
  padding: 12px 24px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.quizButton:hover {
  transform: scale(1.5);
  background-color: #d4b98a;
  transition: transform 0.15s ease, background-color 0.2s ease;
}

.navButton {
  background-color: #c48b4e;
  padding: 12px 24px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.navButton:hover {
  transform: scale(1.5);
  background-color: #d4b98a;
  transition: transform 0.15s ease, background-color 0.2s ease;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.chartGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  gap: 20px 30px;       /* row gap 20px, column gap 30px */
  justify-content: left; /* centers the whole grid */
  margin: 30px 0;
}



.chartButton {
  background-color: #b29264;
  border: none;
  border-radius: 6px;
  width: 160px;
  height: 160px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff06e;
  cursor: pointer;
  text-align: center;
  transition: transform 0.15s ease, background-color 0.2s ease;
}
.chartButton:hover { transform: scale(1.5); background-color: #d4b98a; }

.charImage {
  max-width: 90px;
  height: auto;
  display: block;
  margin: 0 auto 2px;
}

.charLabel {
  font-size: 25px;
  font-weight: bold;
  color: #fff06e;
}
