.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 32px;
  font-family: "JejuHallasan", sans-serif;

  text-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  background-color: #bc7552;
  color: #000000;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(166, 128, 67, 0.889);

  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.title {
  text-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  font-size: 2.25rem;
  font-weight: bold;
}

.subtitle {
  text-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 12px;
}

.textBlock {
  text-shadow: 8px 8px 32px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

/* Input box */
.inputBox {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 16px;
  resize: vertical;

  background-color: #a0a0a0;
}

/* Button */
.translateButton {
  background-color: #dc906a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.translateButton:hover {
  background-color: #bb8a72;
  transform: scale(1.05);
}

.outputBox {
  margin-top: 24px;
  padding: 16px;
  background: #3a2e24;
  border-radius: 8px;
}

.baybayinText {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

/* Back link */
.backLink {
  text-decoration: none;
  background-color: #da885f;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.backLink:hover {
  background-color: #d69675;
  transform: scale(1.15);
}
